<div class="book-wrapper">
     <div class="edit" *ngIf="role == 'admin'" (click)="editBook(book?._id)">edit</div>
     <div class="thumbnail">
          <img src={{book?.image}} alt="thumbnail" />
     </div>
     <div class="details">
          <span class="title">{{book?.title}} </span>
          <span class="price">{{book?.price | currency :'USD'}}</span>
          <span class="description">{{book?.description}}</span>
          <span class="stock">Stock: {{book?.stock}}</span>
     </div>
     <div class="actions">
          <button class="delete" *ngIf="role === 'admin'" (click)="deleteBook(book?._id)">Delete</button>
          <button class="borrow" *ngIf="role === 'user'" (click)="borrowBook(book?._id)" [disabled]="borrowedStatus === 'Borrowed ✅'">{{borrowedStatus}}</button>
     </div>
</div>